@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.foot{

    box-shadow:
    0px 0px 6px -6px rgba(0, 0, 0, 0.035),
    0px 0px 48px -6px rgba(0, 0, 0, 0.07);

    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;

    background-color: #2391c8;

}
.foot a{
    text-decoration: none;
    cursor: default;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer ul{
    list-style-type: none;
    text-align: center;

    
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.footer h1, .footer li{
    color: white;
    padding: 8px;
}

.footer ul h1{
    cursor: default;
    font-family: 'Montserrat';
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 1.8rem;
}
.footer ul li{
    font-size: 0.9em;
    font-family: 'Montserrat';
    width: 200px;
    margin: auto;
}
.footer #ul2 li{
    width: 100px;
}
.footer ul li:hover{
    color: rgb(228, 228, 228);
    cursor: pointer;
}

div#e{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
div#logo{
    width: 100%;
    height: 40%;
    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.foot p{
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    padding-top: 10px;
    font-size: .9rem;
    cursor: pointer;
}
.footer p{
    color: rgb(228, 228, 228);
}