@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.footer {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: beige;
    bottom: 0px;
    
    width: 100%;

}

.footer ul{
    list-style-type: none;
    text-align: center;
}
.footer h1, .footer li{
    padding: 10px;
}

.footer ul h1{
    font-family: 'Montserrat';
    padding-bottom: 25px;
    font-weight: 500;
}
.footer ul li{
    font-family: 'Montserrat';
}
div#logo{
    width: 100%;
    height: 80%;
    background-color: black;
    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}