@keyframes bar1back {
    0% {
        transform: translate(0px, -50%) rotate(45deg);
    }
    100%{
        transform: translate(0px, -50%) rotate(0);
        top: 18px;
    }
}
@keyframes bar2back {
    0% {
        transform: translate(0px, calc(-50% - 6px)) rotate(-45deg);
    }
    100%{
        transform: translate(0px, calc(-50% - 6px)) rotate(0);
        top: 32px;
    }
}

@keyframes bar1go {
    0%{
        transform: translate(0px, -50%) rotate(0);
        top: 18px;
    }
    100%{
        transform: translate(0px, -50%) rotate(45deg);
    }
}
@keyframes bar2go {
    0%{
        transform: translate(0px, calc(-50% - 6px)) rotate(0);
        top: 32px;
    }
    100%{
        transform: translate(0px, calc(-50% - 6px)) rotate(-45deg);
    }
}

header {
    position: fixed;
    width: 100vw;
    padding: 30px 10px;
    box-sizing: border-box;
    
    background-color: #2391c8;


    z-index: 999;
}
header h1 span{
    font-size: 1rem;
}

div.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    max-height: 50px;
    margin: 0 auto;
}

div.logo {
    background-image: url('/images/logo.png') ;
    background-position: center center;
    background-size: cover;
    width: 50px;
    height: 50px;
}

div.hamburguer {
    position: relative;
    right: -45px;
    top: 90px;
    display: flex;
    flex-direction: column;

    cursor: pointer;

    width: 50px;
    height: 50px;
    padding: 0px 50px 180px 50px;

    z-index: 997;
    

}
.hamburguer .bar1{
    position: relative;
    border-radius: 15px;
    top: 25px;
    
    width: 50px;
    height: 6px;

    background-color: #ffffff;

    z-index: 990;
    
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.233);
}

.hamburguer .bar2{
    position: relative;
    top: 25px;
    
    width: 50px;
    height: 6px;
    border-radius: 15px;

    z-index: 991;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.233);

    background-color: #ffffff;
}

.hamburguer:hover *{
    background-color: #e9e9e9;
}

ul.menu.close {
    position: fixed;
    text-align: center;
    top: 100px;
    right: -170px;

    list-style-type: none;
    background-color: #2391c8;
    border: 2px solid rgba(0, 0, 0, 0.123);
    border-radius: 5px;
    border-top: 0px;

    width: 165px;

    transition: .5s;
}
ul.menu.open{
    position: fixed;
    text-align: center;
    top: 100px;
    right: 0px;

    list-style-type: none;
    background-color: #ffffff;
    border: 2px solid #2391c8;
    border-radius: 5px;
    border-top: 0px;

    width: 165px;
    transition: .3s;

    z-index: 999;
}

ul.menu li{
    padding: 10px;
}
ul.menu div.line:not(div.line.last){
    width: 60%;
    margin: auto;
    border: 1px solid rgba(150, 150, 150, 0.253);
    border-radius: 10px;
} 

ul.menu {
    text-transform: uppercase;
    font-size: .8rem;

}
ul.menu a{
    color: #131313;
    text-decoration: none;
}

ul.menu li:hover{
    background-color: #c5ecff;
    transition: .1s;
}

.hamburguer.close .bar1{
    animation: bar1back .3s forwards;
}
.hamburguer.close .bar2{
    animation: bar2back .3s forwards;
}
.hamburguer.open .bar1{
    animation: bar1go .3s forwards;
}
.hamburguer.open .bar2{
    animation: bar2go .3s forwards;
}
