@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes messageAdd {
    40%{
        opacity: 0;
    }
    100% {
        top: 80px;
        opacity: 1;
    }
    
}
@keyframes messageRemove {
    0%{
        opacity: 1;
        top: 80px;
    }
    60%{
        opacity: 0;
    }
    100% {
        top: -80px;
    }
    
}

div.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    position: fixed;
    background-color: rgba(96, 206, 52, 0.877);
    border: 1px solid rgba(81, 177, 43, 0.877);
    border-radius: 15px;
    left: 50%;
    color: black;
    top: -250px;
    opacity: 0;

    z-index: 999;
}
div.message p{
    text-align: center;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 1.2em;

}
div.message.add {
    animation: messageAdd .3s forwards ease;
}
div.message.remove {
    animation: messageAdd .3s forwards ease;
}
div.message.removing{
    animation: messageRemove .6s forwards ease;
}