@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main {
    padding-top: 110px;
}
main h1#title{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 400;
    word-spacing: .1em;
    font-family: 'Inter';
    text-transform: uppercase;
    text-align: center;

    padding-top: 60px;
}

main h1#title::before{
    margin: 15px auto;
    
    bottom: 0;
    content: '';
    width: 550px;
    border: 3px solid rgba(75, 75, 75, 0.158);
    border-radius: 5px;
}
main h1#title::after{
    margin: 15px auto;
    
    bottom: 0;
    content: '';
    width: 550px;
    border: 3px solid rgba(75, 75, 75, 0.158);
    border-radius: 5px;
}
main section{
    display: flex;
    flex-wrap: wrap;

    width: 100%;

    color: black;
}